/* Stylez */
body {font-family: 'Archivo Narrow', sans-serif; margin: 0 auto; background: #efefef; line-height: 1.8em; padding: 12px; box-sizing: border-box; color: #333;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box; background: #fff; box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; height: 95%; overflow: auto; }


a {color: #FF4FC4; text-decoration: none;}
a:hover {border-bottom: 1px solid #CCFF26; color: #00e9ff}
p {font-weight: 50; font-size: 18px;}

.name {font-family: 'Playfair Display', serif; font-size: 75px; font-weight:500; padding-bottom: 0px;}

.container {margin: 0 auto; width: 600px; height: 400px; padding: 80px 12px; overflow: auto;}

.meta {text-transform: uppercase; font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 11px; letter-spacing: .0em;}
.meta a:hover {border-bottom: 5px solid #00ffb2; color: #333;}

.inline-list {list-style: none; margin: 10; padding: 13;}
.inline-list li {display: inline-block;}

footer .inline-list li {padding-right: 25px;}
footer {margin: 0 auto; position: absolute; bottom: 0px; padding: 40px 0; width: 600px;}
